<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <script src="/static/js/htmx.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
  </head>
  <body style="display: flex; flex-direction: column; justify-content: space-between; height: 100vh;">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item title">
            Caperture Photography
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="navbar-item button" href="/contact">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <main hx-boost="true" style="flex 1" class="mt-4 content">
      {{ template "content" . }}
    </main>
    
    <br/>

    <footer class="footer" style="is-flex-align-items-flex-end mt-auto">
      <div class="content has-text-centered">
        <p>{{ .CopyRight }}</p>
      </div>
    </footer>
  </body>
</html>
