<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body style="display: flex; flex-direction: column; justify-content: space-between; min-height: 100%;">
    <div style="flex: 0.2; display: flex; flex-direction: row; min-width: 100%">
      <header style="flex: 1;">
        <img src="/static/images/test.png" alt="Didn't load properly!" width="300px">
        <h1>Caperture Photography</h1>
      </header>
      <nav style="flex: 0.2; justify-self: flex-end">
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/gallery">Gallery</a>
      </nav>
    </div>

    <main hx-boost="true" style="flex 1">
      {{ template "content" . }}
    </main>

    <hr />

    <footer style="flex 0.2; justify-self: flex-end;">
      <p>&copy; 2024 Jonathan Bain</p>
    </footer>
  </body>
</html>
